/* color dark-blue: 104ea0 */

*, *::after, *::before {
	box-sizing: border-box;
}

*{
	font-family: "Roboto Condensed",Arial,Helvetica,sans-serif;	
	font-size: 14px;
}

.modal{
	position: fixed; 
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(0);
	transition: 200ms ease-in-out;
	border: 1px solid black; 
	z-index: 10;
	background-color: white; 
	width: 500px;
	max-width: 80%; 
}

.open-button {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%); 
}

.modal.active{
	transform: translate(-50%, -50%) scale(1);	
}

.modal-header{
	color: white; 
	background-color: #104ea0;
	padding: 2px;
	padding-left: 7px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.modal-header .close-button{
	cursor: pointer;
	border: none;
	background: none;
	font-size: 1.25rem;
	font-weight: bold;
}

.modal-body{
	border: 2px solid green;
	margin: auto;
	width: 50%;	
	padding: 10px 15px;
}

.YES, .NO{
	padding-left: 20px;
	padding-right: 20px;
}

.YES {
	margin-left: 25px;
	background: red; 
}

.img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 40%;
}
